body {
  font-family: "Nunito";
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUKu-rQNtpeI6wyQqEML-fHRDBNcRYqLvo6w&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}
#hooky-chat {
  z-index: 10;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  border: 4px solid black;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: rgb(142, 247, 138) /*#f9f9f9*/;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section span {
  position: absolute;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  animation: animate 8s linear infinite;
}
section span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.025) tranlate(-70%, -70%);
  background: radial-gradient(transparent);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1200%);
    opacity: 1;
  }
}

.chat-window {
  height: 400px;
  overflow: auto;
  /* border: 2px solid black; */
  border-radius: 10px;
  background: rgb(117, 248, 100) /*#f9f9f9*/;
}
#output {
  /* position: relative; */
  margin-top: 5px;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  text-align: left;
  /*border-bottom: 1px solid#e9e9e9;*/
  border: 1px solid rgb(158, 161, 152);
  border-radius: 10px;
  margin-bottom: 3px;
  padding-left: 10px;
  background-color: honeydew;
  color: rgb(245, 81, 81);
}

#output time {
  /* position: absolute;
  bottom: 10px;
  right: 25px; */
  margin: 10px;
  color: grey;
  font-size: x-small;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #575ed8;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border-radius: 5px;
  border: none;
  display: block;
  width: 98%;
  background: #fff;
  font-family: Nunito;
  font-size: 16px;
  margin: 3px auto 3px auto;
}

#message {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border-radius: 5px;
  display: block;
  width: 98%;
  background: #fff;
  font-family: Nunito;
  font-size: 16px;
  margin: 3px auto 3px auto;
}

button {
  background: #fa9536;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 50%;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

time {
  color: red;
}

.emojionearea.emojionearea-inline {
  width: 90%;
  font-size: 16px;
  text-align: left;
  margin: auto;
}
